extends layout 
block content

    h1 Your Dog Owner Profile

    //-p #{userId}
         
    form(action='/add-details' method='POST' enctype='multipart/form-data')
    
        input(type='hidden' name='id' value=userId)
    
        label(for='name') Full Name: 
        input('name'='name') 
    
        label(for='email') Email: 
        input('name'='email') 
    
        label(for='phone') Phone Number: 
        input('name'='phone')

        label(for ='owners') Upload Profile Picture:
        input(type='file' name='owners')

        //- The POST parameter will be called area
        label(for='areaselect') Your Walking Area:
        p     
        select(name='areaselect')
            //- We loop through the areas array, extracting a variable called area
            for area in areas
                //- we build the option list from the id and name properties on the area object
                option(value=area.id) #{area.area}

        p 

        label(for='dogname') Dog Name:     
        input('name'='dogname') 

        label(for='dogbreed') Dog Breed: 
        input('name'='dogbreed') 

        label(for='dogsize') Dog Size: 
        input('name'='dogsize')

        label(for='dogage') Dog Age: 
        input('name'='dogage')

        label(for ='dogs') Upload Dog Picture:
        input(type='file' name='dogs')

        //- render the submit button
        input(type='submit' value='Submit' class='btn btn-primary')

