extends layout 
block content
    h1 Your dog owners profile 
    h3 Please provide the following details: 
    //- Define a form whose data will be passed to the /area-select route via a POST request
    form(action='/area-select', method='POST')
        //- The POST parameter will be called student
        select(name='areaParam')
            //- We loop through the areas array, extracting a variable called student
            for area in areas
                //- we build the option list from the id and name properties on the area object
                option(value=area.id) #{area.area}

    form(action='/set-password' method='POST')
        label(for='email') Full Name: 
        input('name'='email') 
        label(for='email') Email: 
        input('name'='email') 
        label(for='email') Phone Number: 
        input('name'='password')
        <div>
        //- render the submit button
        input(type='submit' value='Submit' class='btn btn-primary')

    - console.log(areas)
